body {
    /* O puedes usar una imagen como fondo */
    background-image: url('https://grupoconsitel.com/resources/Tecnolog%C3%ADa.gif'); */

    /* Si quieres que la imagen de fondo se repita, puedes usar background-repeat */
    /* background-repeat: repeat; */
    font-family: 'Open Sans', sans-serif;
}
section {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
}
a {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #3498db; 
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button {
    background-color: #2ecc71;
    color: #e01313; 
    padding: 10px 15px;
    border: black;
    cursor: pointer;
}

h1 {
    text-shadow: 2px 2px 4px #666;
}

button {
    box-shadow: 2px 2px 4px #888;
}
h1 { color: #3498db; } 
p { color: #2ecc71;}

button:hover {
    background-color: #e74c3c; 
    transition: background-color 0.3s ease;
}
img {
    margin-left: 5px; 
}
